body {
  background-color: lightblue;
}

/* Logo hover state */
#logo:hover {
  /* Visual */
  opacity: 0.7;
}

.navbar-right-custom {
  /* Box-model */
  padding-top: 6px;
  padding-right: 20px;

  /* Typography */
  font-family: Arial;
  font-weight: lighter;
}

/* Logo hover state */
#logo:hover {
  /* Visual */
  opacity: 0.7;
}

.navbar-right-custom {
  /* Box-model */
  padding-top: 6px;
  padding-right: 20px;

  /* Typography */
  font-family: Arial;
  font-weight: lighter;
}

/* Nav element hover state */
.navbar-default .navbar-nav > li > a:hover {
  color: #4aaaa5;
}

.Blue {
  background-color: lightblue;
}