body {
  background-color: #505050;
}


.customButton{
  background: salmon !important ;
  font-family: "Arial Black", "Arial Bold";
  box-shadow:none !important;
  border: #505050 !important;
  }

  .btn-xlarge {
    padding: 9px 9px;
    font-family: "Arial Black", "Arial Bold";
    font-size: 16px; 
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.MoMATitle {
  font-family: "Arial Black", "Arial Bold";
  font-size: 16px;
  color:#505050;
  font-weight: bold;
}


.MoMATitlemini {
  font-family: "Arial Black", "Arial Bold";
  font-size: 12px;
  color:#505050;
}

.LinkButton:hover {
  font-family: "Arial Black", "Arial Bold";
  background-color: #505050;
  color:salmon
}

.VisComment:hover, .customButton:hover, .MoMATitle:hover, .MoMATitlemini:hover{
  background-color: lightseagreen;
}

.VisComment {
  font-size: 20px;
  font-family: "Arial Black", "Arial Bold";
  color: salmon;
  /* width: 500px; */
  text-align: center;
}

.Annotations {
  font-family: "Arial Black", "Arial Bold";
  font-weight: bold;
  font-size: 15px;
  color: salmon;
  text-align: center;
}

.PaintingLink {
  font-family: "Arial Black", "Arial Bold";
  color: salmon;
  font-weight: bold;
  text-align: center;
}

.PaintingLink:hover {
  color:lightseagreen;
}

#CompositeGender {
  background-image:url('http://www.moma.org/media/W1siZiIsIjQyNTEyMyJdLFsicCIsImNvbnZlcnQiLCItcmVzaXplIDIwMDB4MjAwMFx1MDAzZSJdXQ.jpg?sha=f8715fe19bba588d')
}

.WhiteTitle {
  font-family: "Arial Black", "Arial Bold";
  font-weight: bold;
  font-size: 18px;
  color: White;
  text-align: center;
}

h1 {
  font-family: "Arial Black", "Arial Bold";
  font-size: 30px;
  font-weight: bold;
  color: White;
}

#Death {
  background-image:url('http://www.moma.org/media/W1siZiIsIjE0OTgzMyJdLFsicCIsImNvbnZlcnQiLCItcmVzaXplIDIwMDB4MjAwMFx1MDAzZSJdXQ.jpg?sha=7eb61f967ccd20ab')
}

th {
  font-family: "Arial Black";
  background-color: salmon;
  color: white;
}

td {
  font-family: "Arial";
}
th, td {
  padding: 15px;
  text-align: left;
}

tr:hover {background-color: lightseagreen;}